<h4>Application Form</h4>
<form method="post" action="/job/{{job['id']}}/apply">
    <div class="mb-2">
        <label for="full_name">Full Name</label>
        <br>
        <input type="text" name="full_name" id="full_name" placeholder="Bruce Wayne">
    </div>
    <div class="mb-2">
        <label for="email">Email</label>
        <br>
        <input type="email" name="email" id="email" placeholder="bruce@wayne.com">
    </div>
    <div class="mb-2">
        <label for="linkedin_url">LinkedIn URL</label>
        <br>
        <input type="text" name="linkedin_url" id="linkedin_url" placeholder="https://linkedin.com/in/brucewayne">
    </div>
    <div class="mb-2">
        <label for="education">Education</label>
        <br>
        <textarea name="education" id="education"></textarea>
    </div>
    <div class="mb-2">
        <label for="work_experience">Work Experience</label>
        <br>
        <textarea name="work_experience" id="work_experience"></textarea>
    </div>
     <div class="mb-2">
        <label for="resume_url">Resume URL</label>
        <br>
        <input type="text" name="resume_url" id="resume_url" >
    </div>
    <input type="submit" value="Submit">
</form>